BasedOnStyle: GNU
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Attach
AlwaysBreakAfterReturnType: None
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignOperands: true
BinPackParameters: false
BinPackArguments: false
DerivePointerAlignment: false
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: false